.footer
	background-color: #191919
	width: 100%
	padding: 43px 0
	// max-width: 1567px
	margin: 0 auto
	.footer-container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		max-width: 1360px
		margin: 0 auto
		padding: 0 30px
		
		.copyright
			display: flex
			align-items: center
			@include openSans-regular-font
			width: 471px
			font-size: 16px
			line-height: 22px
			color: #8b8989
			margin-right: 50px
			margin-bottom: 30px

	.footer-socials
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		width: 395px

		.twitter-f, .google-f
			width: 35px

		.footer-link:hover
			transform: scale(1.2, 1.2)
			
