.what-we-do
	
	background-color: $red-what-we-do
	color: #cccccc
	width: 100%
	padding: 85px 0

.info-block
	max-width: 1410px
	margin: 0 auto
	padding: 0 10px
	display: flex
	flex-direction: row-reverse
	justify-content: space-around
	align-content: center

	@media screen and (max-width: 800px)
		flex-wrap: wrap
	
	.text-button-block
		max-width: 547px
		@media screen and (max-width: 800px)
			margin-bottom: 20px
		
	h2
		position: relative
		@include raleway-regular-font
		text-transform: uppercase
		color: #fff
		margin-bottom: 60px
		font-size: 45px
		&::after
			content: ''
			@include white-line-what-wedo
			position: absolute
			top: 65px
			left: 0px

	.info-p
		@include raleway-regular-font
		font-size: 18px
		line-height: 27px
		margin-bottom: 35px
		

	.read-more
		display: inline-block
		@include openSans-regular-font
		color: $white-color
		font-size: 16px
		background-color: #ff6161
		padding: 10px 30px
		border: 1px solid $white-color

		&:hover
			background: radial-gradient(rgba(253, 47, 47, 1), rgba(253, 47, 47, 0.5))
			color: #c1c1c1
			border-color: #c1c1c1

		&:active
			box-shadow: inset 0 0 10px 0 black
			color: #666666
			border-color: #666666


	figure
		max-width: 740px
		