<section class="about-company">
	<div class="container">
		<div class="info-item">
			<span>2012</span>
			<span>Company Was Founded</span>
		</div>
		<div class="info-item">
			<span>14</span>
			<span>Different Location</span>
		</div>
		<div class="info-item">
			<span>5000</span>
			<span>Lines of Code</span>
		</div>
		<div class="info-item">
			<span>200</span>
			<span>Finished Projects</span>
		</div>
		<div class="info-item">
			<span>300</span>
			<span>Cups of Coffe</span>
		</div>
		<div class="info-item last">
			<span>90%</span>
			<span>Use I-Phone</span>
		</div>
</section>