
	
<section class="be-with-us">
	<h2>BE WITH US</h2>
 	<div class="be-with-us-subtitle">
 		Get in touch via contact form or email us directly. We will get back to you as soon as possible.
	</div>
	<div class="contact-container">
		<div class="contact-column-1">
			<form action method="post">
				<label for="f-name">First Name</label><sup>*</sup>
				<input class="first-name-input input" type="text" name="name" id="f-name" placeholder="Enter your First name">
				<label for="l-name">Last Name</label><sup>*</sup>
				<input class="last-name-input input" type="text" name="name" id="l-name" placeholder="Enter your Last name">
				<label for="email-i">E-mail</label><sup>*</sup>
				<input class="email-input input" type="text" name="email" id="email-i" placeholder="Enter your E-mail">
				<label for="message-i">Message</label><sup>*</sup>
				<textarea name="message" class="message-input input" id="message-i" placeholder=""></textarea>

				<button class="button-link" type="submit" value="submit">Submit</button>
			</form>
		</div>
		<div class="contact-column-2">
			<div class="where-to-meet">
				<h3>WHERE TO MEET</h3>
				<p>
					Lexington Studios<br>
					22 Miron Drive<br>
					New York, 12603 NY
				</p>
			</div>
			<div class="say-hello">
				<h3>SAY HELLO</h3>
				<a href="#" class="say-hello-link">Email: nuddin368@yahoo.com</a>
				<a href="#" class="say-hello-link">Phone: 845 – 123 4567</a>
				
			</div>
			<div class="google-maps">
				<a href="#" class="google-map-link">GOOGLE MAPS</a>
			</div>
		</div>
	</div>
</section>