<section class="feedback">
	<div class="feedback-container">
		<figure class="feedback-avatar"> 
			<img src="images/feedbackavatar.png" alt="">
		</figure>
		<div class="feedback-block">
			<blockquote class="quote">
				When I first installed MT, I had been looking for a php based weblog engine, but could not find one I liked as much as MT. Having now discovered WordPress, I am a happy man, and will not be looking back.
			</blockquote>

			<div class="author-block">
				<p class="author-name">
					Alaysia Reaid
				</p>
				<p class="author-position">
					Senior manager <br>Grammen Phone LTD.
				</p>
				
			</div>
		</div>
	</div>
	<div class="slider-button-block">
			<div class="slider-button"></div>
			<div class="slider-button"></div>
		</div>
</section>