<header class="header">
	<div class="header-socials">
		<div class="container">
			<div class="socials-sprite">	
				<a href="#" class="icon icon-google"></a>
				<a href="#" class="icon icon-twitter"></a> 
				<a href="#" class="icon icon-linkedin"></a>
				<a href="#" class="icon icon-behance"></a>
				<a href="#" class="icon icon-facebook"></a>
			</div>
			<div class="button-container">
				<span>Log in</span>
				<a>
					Sign up
				</a>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="container">
			<div class="logo"></div>
			<nav class="menu">
				<a href="#" class="is-active">Home</a>
				<a href="#">Features</a>
				<a href="#">Portfolio</a>
				<a href="#">Staff</a>
				<a href="#">Blog</a>
				<a href="#">Price</a>
				<a href="#">About us</a>
				<a href="#">Contact us</a>
				<figure class="search">
					<img src="../images/search.png" alt="">
				</figure>
			</nav>
			
		</div>
	</div>
	<div class="header-slider">
		<div class="text">
			<p>Hello! Welcome</p>
			<p>This is our <span>revolution</span></p>
			<p>We are a professional team</p>
			<a href="#" class="link">Discover</a>

			<div class="controls">
				<div class="control-button"></div>
				<div class="control-button is-active"></div>
				<div class="control-button"></div>
				<div class="control-button"></div>
				<div class="control-button"></div>
			
			</div>
		</div>	
			<img src="../images/bg/bac-pic-crop3.png">
	</div>
</header>