<header class="header">
	<div class="header-socials">
		<div class="container">
			<div class="socials-sprite">	
				<a href="#" class="icon icon-google"></a>
				<a href="#" class="icon icon-twitter"></a> 
				<a href="#" class="icon icon-linkedin"></a>
				<a href="#" class="icon icon-behance"></a>
				<a href="#" class="icon icon-facebook"></a>
			</div>
			<div class="button-container">
				<span>Log in</span>
				<a class="sign-up-btn">
					Sign up
				</a>
			</div>
		</div>
	</div>
	<div class="header-navigation">
		<div class="container">
			<div class="logo"></div>
			<div class="menu-container">
				<div class="burger">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<nav class="menu">
					<a href="#" class="is-active">Home</a>
					<a href="#">Features</a>
					<a href="#">Portfolio</a>
					<a href="#">Staff</a>
					<a href="#">Blog</a>
					<a href="#">Price</a>
					<a href="#">About us</a>
					<a href="#">Contact us</a>
					<figure class="search">
						<img src="images/search.png" alt="">
					</figure>
				</nav>
			</div>
		</div>
	</div>
	<div class="header-slider">
		<div class="text">
			<div class="slide-text_row">
				<p>Hello! Welcome</p>
				<p>This is our <span>revolution</span></p>
			</div>
			<div class="slide-text_row">
				<p>We are a professional team</p>
				<a href="#" class="link">Discover</a>

				<div class="controls">
					<div class="control-button"></div>
					<div class="control-button is-active"></div>
					<div class="control-button"></div>
					<div class="control-button"></div>
					<div class="control-button"></div>
				</div>
			</div>
		</div>	
		<figure class="header-background">
			<img src="images/bg/bac-pic-crop3-slider.png">
		</figure>
	</div>



<section class="about-us">
	<div class="about-us-container">
		<div class="about-us-top">

			<div class="planning column">
				<span>Planning</span>
				<div class="circle">
					<img class="circle-icon" src="images/icons/internet5.png" alt="">
				</div>
				<div class="column-text">
					This is our plannning and 
					our customer services<br>
					you can see hre what we do
				</div>	
			</div>

			<div class="networking column">
				<span>Networking</span>
				<div class="circle">
					<img class="circle-icon" src="images/icons/networking.png" alt="">
				</div>
				<div class="column-text">
					This is our plannning and 
					our customer services<br>
					you can see hre what we do
				</div>
			</div>

			<div class="phototyping column">
				<span>Phototyping</span>
				<div class="circle">
					<img class="circle-icon" src="images/icons/phototyping.png" alt="">
				</div>
				<div class="column-text">
					This is our plannning and 
					our customer services<br>
					you can see hre what we do
				</div>
			</div>

			<div class="designing column">
				<span>Designing</span>
				<div class="circle">
					<img class="circle-icon" src="images/icons/designing.png" alt="">
				</div>
				<div class="column-text">
					This is our plannning and 
					our customer services<br>
					you can see hre what we do
				</div>
			</div>

		</div>

		<h2>ABOUT US</h2>
		<div class="about-us-subtitle">
			We are the profesional designer team. We are working in this sector for a long time
			And we would like to Descover new design by our own concept
		</div>
		<div class="about-us-bottom">
			<div class="hosting bottom-column">
				<figure class="squares">
					<div class="square left"></div>
					<div class="square center"></div>
					<div class="square right"></div>
					<img src="images/icons/about-us/hosting.png">
				</figure>
				<div class="column-header">
					<h3>WEB HOSTING</h3>
				</div>
				<div class="column-main">
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. This is the real name of mine
				</div>
			</div>
			<div class="marketing bottom-column">
				<figure class="squares">
					<div class="square left"></div>
					<div class="square center"></div>
					<div class="square right"></div>
					<img src="images/icons/about-us/handshake.png">
				</figure>
				<div class="column-header">
					<h3>DIGITAL MARKETING</h3>
				</div>
				<div class="column-main">
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. This is the real name of mine
				</div>
			</div>
			<div class="development bottom-column">
				<figure class="squares">
					<div class="square left"></div>
					<div class="square center"></div>
					<div class="square right"></div>
					<img src="images/icons/about-us/seo.png">
				</figure>
				<div class="column-header">
					<h3>DESIGN AND DEVELOPMENT</h3>
				</div>
				<div class="column-main">
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. This is the real name of mine
				</div>
			</div>
			<div class="design bottom-column">
				<figure class="squares">
					<div class="square left"></div>
					<div class="square center"></div>
					<div class="square right"></div>
					<img src="images/icons/about-us/hosting.png">
				</figure>
				<div class="column-header">
					<h3>RESPONSIVE DESIGN</h3>
				</div>
				<div class="column-main">
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. This is the real name of mine
				</div>
			</div>
		</div>
	</div>
</section>

</header>
