<section class="latest-work">

	<h2>LATEST WORK</h2>
 	<div class="latest-work-subtitle">
 		Our everyday work is presented here, we do what we love, case studies, 
		video presentatioon, and photoshotting below.
	</div>
	<nav class="latest-work-nav">
		<a href="#" class="latest-work-link"><span>All</span></a>
		<a href="#" class="latest-work-link"><span>Web Design</span></a>
		<a href="#" class="latest-work-link"><span>Wordpress theme</span></a>
		<a href="#" class="latest-work-link"><span>PSD Design</span></a>
		<a href="#" class="latest-work-link"><span>Branding</span></a>
		<a href="#" class="latest-work-link"><span>Photography</span></a>
	</nav>
	<div class="latest-work-container">

		<figure class="latest-work-img">
			<img src="/images/l-work-1.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-2.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-3.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-4.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img is-active">
			<img src="/images/l-work-5.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-6.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-7.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-8.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

		<figure class="latest-work-img">
			<img src="/images/l-work-9.png" alt="">
			<div class="latest-work-btn-cover">
				<a href="#" class="more-info">
					MORE INFO
				</a>
				<a href="#" class="view-larger">
					VIEW LARGER
				</a>
			</div>
		</figure>

	</div>
</section>