<section class="our-team-member">
	<h2>Our team member</h2>

	<div class="team-subtitle">
		We are the professional team and we have many experienced professionals those are belongs to our company
	</div>

	<div class="members">

		<div class="member-item">

			<figure>
				<div class="know-more">
					<a href="#" class="button">Know More</a>
				</div>
				<img src="images/first-member.png" alt="">
			</figure>
			<div class="member-info">
				<p>MICHLE JACKSON</p>
				<p>CEO, Winner Group LTD</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>

		<div class="member-item">

			<figure>
				<div class="know-more">
					<a href="#" class="button">Know More</a>
				</div>
				<img src="images/second-member.png" alt="">
			</figure>
			<div class="member-info">
				<p>CRISTREANA LILI</p>
				<p>Web Developer</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>
		<div class="member-item">

			<figure>
				<div class="know-more">
					<a href="#" class="button">Know More</a>
				</div>
				<img src="images/third-member.png" alt="">
			</figure>
			<div class="member-info">
				<p>MOHSIN ISLAM</p>
				<p>Co-founder of Winner</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>
<div class="member-item">

			<figure>
				<div class="know-more">
					<a href="#" class="button">Know More</a>
				</div>
				<img src="images/fourth-member.png" alt="">
			</figure>
			<div class="member-info">
				<p>SHEULLY AKHTAR</p>
				<p>Visual Designer</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>

	</div>

		
</section>