<section class="our-skills">

	<h2>OUR SKILLS</h2>
 	<div class="skills-subtitle">
 		See Here where we are more experience and we are able to do accuritely and 
		we will try to do something for you r expaction
	</div>

	<div class="container">
		<div class="skills-diagram">
			<figure class="diagram-picture">
				<img src="/images/skills-diagram.png" alt="">
			</figure>
			<div class="skill-list">
				<ul>
					<li>PHOTOSHOP</li>
					<li>ILLUSTRATOR</li>
					<li>IN DESIGN</li>
					<li>JAVA SCRIPT</li>
					<li>HTML</li>
					<li>PHP</li>
				</ul>
			</div>
		</div>

		<div class="skills-description">
				<span class="skill-dir">Web design</span>
				<span class="skill-dir">SEO</span>
				<span class="skill-dir">Programming</span>
				<span class="skill-dir">Photography</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo consequat. Duis aute irure dolor in reprehenderit in volup velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no sunt in culpa qui officia.
				</p>
			
				<div class="red-line-p">
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
					</p>
				</div>	
			
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
				</p>
		
		</div>
	</div>
</section>