 <section class="our-pricing-table">
 	<h2>Our pricing table</h2>
 	<div class="pricing-subtitle">
 		We are offering different types of pacages to the customer they can chose this kind of pacages 
		for their business or their personal purpose
	</div>
 	<div class="pricing-block">
 		<div class="price-column">
 			<div class="package-type"><span>Basic Package</span></div>
 			<div class="price">$<span class="p-number">10</span>/month</div>
 			<div class="about-package-list">
	 			<ul>
	 				<li>Unlimited listings</li>
	 				<li>Edit your listings</li>
	 				<li>Approve reviews</li>
	 				<li>100 GB Free Domain</li>
	 				<li>100 Free Facebook Account</li>
	 				<li>Unlimited Messaging</li>
	 				<li>24/7 Support Service</li>
	 			</ul>
 			</div>
 			<a href="#" class="get-started-btn">
 			Get started now
 			</a>
 		</div>	
 		<div class="price-column">
 			<div class="package-type">
 				<span class="package-top-text">Standerd Package</span>
 			</div>
 			<div class="price">$<span class="p-number">29</span>/month</div>
 			<div class="about-package-list">
	 			<ul>
	 				<li>Unlimited listings</li>
	 				<li>Edit your listings</li>
	 				<li>Approve reviews</li>
	 				<li>100 GB Free Domain</li>
	 				<li>100 Free Facebook Account</li>
	 				<li>Unlimited Messaging</li>
	 				<li>24/7 Support Service</li>
	 			</ul>
 			</div>
 			<a href="#" class="get-started-btn">
 			Get started now
 			</a>
 		</div>	
 		<div class="price-column">
 			<div class="package-type premium"><span>Premium Package</span></div>
 			<div class="price">$<span class="p-number">45</span>/month</div>

 			<div class="about-package-list">
	 			<ul>
	 				<li>Unlimited listings</li>
	 				<li>Edit your listings</li>
	 				<li>Approve reviews</li>
	 				<li>100 GB Free Domain</li>
	 				<li>100 Free Facebook Account</li>
	 				<li>Unlimited Messaging</li>
	 				<li>24/7 Support Service</li>
	 			</ul>
	 		</div>
 			<a href="#" class="get-started-btn">
 			Get started now
 			</a>
 		</div>	
 		<div class="price-column">
 			<div class="package-type"><span>Unlimited Package</span></div>
 			<div class="price">$<span class="p-number">60</span>/month</div>
 			<div class="about-package-list">
	 			<ul>
	 				<li>Unlimited listings</li>
	 				<li>Edit your listings</li>
	 				<li>Approve reviews</li>
	 				<li>100 GB Free Domain</li>
	 				<li>100 Free Facebook Account</li>
	 				<li>Unlimited Messaging</li>
	 				<li>24/7 Support Service</li>
	 			</ul>
 			</div>
 			<a href="#" class="get-started-btn">
 			Get started now
 			</a>
 		</div>	
 	</div>
 </section>