<section class="our-team-member">
	<h2>Our team member</h2>

	<div class="team-subtitle">
		We are the professional team and we have many experienced professionals those are belongs to our company
	</div>

	<div class="members">

		<div class="member-item">
			<a href="#">
				<figure>
					<div class="know-more">
						<span class="button">Know More</span>
					</div>
					<img src="images/first-member.png" alt="">
				</figure>
			</a>
			<div class="member-info">
				<p>MICHLE JACKSON</p>
				<p>CEO, Winner Group LTD</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>

		<div class="member-item">
			<!-- wrapped whole tag figure and the content in a link -->
			<!-- instead of a link put a span inside the .know-more -->
			<a href="#">
				<figure>
					<div class="know-more">
						<span class="button">Know More</span>
					</div>
					<img src="images/second-member.png" alt="">
				</figure>
			</a>
			<div class="member-info">
				<p>CRISTREANA LILI</p>
				<p>Web Developer</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>
		<div class="member-item">
			<a href="#">
				<figure>
					<div class="know-more">
						<span class="button">Know More</span>
					</div>
					<img src="images/third-member.png" alt="">
				</figure>
			</a>
			<div class="member-info">
				<p>MOHSIN ISLAM</p>
				<p>Co-founder of Winner</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"><a class="icon-link" href="#"></a></div>
					</li>
					<li> 
						<div class="icon facebook"><a class="icon-link" href="#"></a></div>
					</li>
					<li>
						<div class="icon google"><a class="icon-link" href="#"></a></div>
					</li>
					<li>
						<div class="icon behance"><a class="icon-link" href="#"></a></div>
					</li>
					<li>
						<div class="icon linkedin"><a class="icon-link" href="#"></a></div>
					</li>
				</ul>
				
			</div>
		</div>
		<div class="member-item">
			<a href="#">
				<figure>
					<div class="know-more">
						<span class="button">Know More</span>
					</div>
					<img src="images/fourth-member.png" alt="">
				</figure>
			</a>
			<div class="member-info">
				<p>SHEULLY AKHTAR</p>
				<p>Visual Designer</p>
			</div>
			<div class="socials">
				<ul class="icon-list">
					<li>
						<div class="icon twitter"></div>
					</li>
					<li> 
						<div class="icon facebook"></div>
					</li>
					<li>
						<div class="icon google"></div>
					</li>
					<li>
						<div class="icon behance"></div>
					</li>
					<li>
						<div class="icon linkedin"></div>
					</li>
				</ul>
				
			</div>
		</div>

	</div>

		
</section>