<section class="search-input">
	<div class="search-container">
		<form action="">
			<input class="input" type="search" placeholder="Write Something Here" name="search">
			<select name="select" id="select-unput" class="select-input">
				<option value="opt-1">ALL</option>
				<option value="opt-2">2</option>
				<option value="opt-3">3</option>
				<option value="opt-4">4</option>
				<option value="opt-5">5</option>
			</select>
			<button type="submit" class="search-btn"></button>
		</form>
	</div>
</section>