<section class="services-we-offer">
	<h2>SERVICES WE OFFER</h2>

	<div class="team-subtitle">
		We are providing different kind of sercices like web dsign, web development, and something 
		other,amd we have a strong professional designer.
	</div>
	<div class="container">
		<ul class="service-list">
			<li class="service-item">
				<!-- wrapped li in a link-->
				<a href="#">
					<div class="service-icon"><span class="icon icon-71"></span></div>
					<h3>Service Title</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
					</p>
				</a>
			</li>
			<li class="service-item active-item">
				<a href="#">
					<div class="service-icon"><span class="icon icon-85"></span></div>
					<h3>Service Title</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					</p>
				</a>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-65"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-59"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-49"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-43"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-7"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
			<li class="service-item">
				<div class="service-icon"><span class="icon icon-91"></span></div>
				<h3>Service Title</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</li>
		</ul>
	</div>					


</section>