$red-header-about: #fd2f2f
$red-what-we-do: #ff3a3a

$font-size-section-title: 40px
// change to font-section-title and add all about font style 


$white-color: #fff

$light-grey-bg: #f3f2f2

$price-col-font-color: #6d6d6d